################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/C#/Projetos de Estudo/.vs/Study
/C\#/Projetos de Estudo/Fundamentos da Orientação a Objetos/OopStudy/.vs
/C\#/Projetos de Estudo/Fundamentos da Orientação a Objetos/OopStudy/.vs
/Unity/RaceCarStudy/Temp
/Unity/RaceCarStudy/.vs/RaceCarStudy
/Linguagens de Programação/C#/Projetos de Estudo/Fundamentos do C#/.vs/Study/FileContentIndex
/Linguagens de Programação/C#/Projetos de Estudo/Acesso à dados com .NET, C#, Dapper e SQL Server/.vs/DataAcessStudy/FileContentIndex
/Linguagens de Programação/C#/Projetos de Estudo/Acesso à dados com .NET, C#, Dapper e SQL Server/.vs/DataAcessStudy/FileContentIndex/2e644344-1f8d-476a-8815-3ca5eba8378b.vsidx
/Linguagens de Programação/C#/Projetos de Estudo/Acesso à dados com .NET, C#, Dapper e SQL Server/.vs/DataAcessStudy/FileContentIndex/557a5494-e331-4d78-a4b9-c9a3b6638df3.vsidx
/Linguagens de Programação/C\#/Projetos de Estudo/Acesso à dados com .NET, C\#, Dapper e SQL Server/.vs
/Linguagens de Programação/C\#/Projetos de Estudo/Fundamentos do C\#/.vs
/Linguagens de Programação/C\#/Projetos de Estudo/Fundamentos da Orientação a Objetos/OopStudy/.vs
/Unity/RaceCarStudy/.vs
