################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/C#/Projetos de Estudo/.vs/Study
/C\#/Projetos de Estudo/Fundamentos da Orientação a Objetos/OopStudy/.vs
/C\#/Projetos de Estudo/Fundamentos da Orientação a Objetos/OopStudy/.vs
/Unity/RaceCarStudy/Temp
